
input{
  font-family: 'Rockwell'
}
button{
  font-family: 'Rockwell'
}
.atualColor{
  width: 160px;
  height: 185px;
  color: white; 
  -webkit-text-stroke-width: 1px; 
  -webkit-text-stroke-color: black; 

}